<form action="/skills/<%= @skill.id %>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='skill[name]' value="<%= @skill.name %>"/><br/>
  <input type='text' name='skill[status]' value="<%= @skill.status %>"/><br/>
  <input type='submit'/>
</form>
