<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Skill Inventory</title>
</head>
<div class="box">
<h1 id="greeting"><a href="/">What mad skills do you have?</a></h1>
</div>
<body>
  <%= yield %>
</body>
</html>
