<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/application.css">
<body>
<form action="/skills" method="post">
  <h1><p>Enter a new skill name:</p></h1>
<input type='text' name='skill[name]'/><br/>
<h1><p>Enter a status for that skill:</p></h1>
<input type='text' name='skill[status]'/><br/>
<input type='submit'/>
</form>
</body>
</html>
